.google-login-btn {
  padding-right: 1.75rem;

  img {
    width: 1.25rem;
  }
}

button {
    img {
        width: 1.25em;
    }
}


:host {
    text-align: center;
}

.logout {
    padding-top: 5em;
}
