<div *ngIf="!(authState | async)?.id">
  <h1>Login</h1>

  <button class="google-login-btn" mat-raised-button loginGoogleSignin>
    <img class="google-login-btn__img" src="/assets/images/google-logo.svg" /> Login with Google
  </button>

  <h5>OR</h5>

  <login-email-pass-form
    [isLoading]="isLoading"
    [serverMessage]="serverMessage"
    [type]="formType"
    (formTypeChanged)="updateFormType($event)"
    (formSubmitted)="submitForm($event)">
  </login-email-pass-form>
</div>

<ng-container *ngIf="(authState | async) as user" class="logout">
  <div *ngIf="user?.id" class="logout">
    <p>
      Logged in as <strong>{{ user?.displayName }}</strong>
    </p>

    <button mat-stroked-button loginGoogleSignout>Logout</button>
  </div>

</ng-container>
